<h2>Sign Up</h2>

<% form_for @user, :url => user_path do |f| -%>
  <%= f.error_messages %>

  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>

  <p class="submit"><%= f.submit "Sign Up" %></p>
<% end -%>
