- title 'Confirmation'

%h2 Resend confirmation instructions

- form_for resource_name, resource, :url => confirmation_path(resource_name) do |f|
  = f.error_messages
  %p= f.label :email
  %p= f.text_field :email
  %p= f.submit "Resend confirmation instructions"

%p= link_to "Sign in", new_session_path(resource_name)

- if devise_mapping.recoverable?
  %p= link_to "Forgot password?", new_password_path(resource_name)
